{% extends 'accounts/index.html' %}

{% block section1 %}
{% endblock section1%}

{% block section2 %}
{% endblock section2 %}

{% block section3 %}
<section class="ftco-section ftco-package-program bg-darken">
	  	<div class="container-fluid px-0">
	  		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section heading-section-white ftco-animate text-center">
            <span class="subheading"><small><i class="left-bar"></i>Gym Classes<i class="right-bar"></i></small></span>
            <h2 class="mb-1">What You Get From <span>Endurance</span> Membership</h2>
            <p><p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p></p>
          </div>
        </div>
        <div class="row no-gutters">
        	<div class="col-md-12">
        		<div class="carousel-package-program owl-carousel">
    {% if citygymlist %}

    {% for gym in citygymlist %}

    {% include 'accounts/gymlist.html' %}

    {% endfor %}
    {% else %}
              <h1>No Data Found..</h1>
    {% endif %}
{% endblock section3 %}
                    {% block membership %}
                    {% endblock membership %}