{% extends 'accounts/index.html' %}
{% load static %}
{% block qr_head %}
<link rel="stylesheet" href="{% static 'css/membership_card.css' %}">
{% endblock qr_head %}
{% block section1 %}

{% if gym %}
    

    
<center>
<div id="wrapper">
    <h2 class="card-group-heading">{{ gym}}</h2>
    <div class="card-container">
    <article class="card assignment-card course-id-3">
        <header class="card-header card-backgrund-color">
          <h2 style="color: black; font-weight: bold;">GYM-FREAK</h2>
        </header>
        <section class="card-body">
          <div class="card-info">
            <div class="card-info-element">
              <div class="card-info-description">Name</div>
              <div class="card-info-value">{{ gym.name }}</div>
            </div>
            <div class="card-info-element">
              <div class="card-info-description">Address</div>
              <div class="card-info-value" style="font-size: x-small;">{{ gym.address }}</div>
            </div>
            <div class="card-info-element">
              <div class="card-info-description">QR</div>
                <div class="card-info-value"><u><a href="{{gym.qrcode.url}}">Click to open Code</a></u><img src="{{gym.qrcode.url}}" width="80%"></div>
            </div>
          </div>

          {%if gym.services %}
            <p class="card-tags">
              {% for ser in gym.services.values %}
            <span class="card-tag card-backgrund-color">{{ser.service}}</span>
          </p>
            {% endfor %}
            {% endif %}
        </section>
        <footer class="card-footer">
          <p><span class="ml-checkmark card-footer-icon card-backgrund-color"></span> <span class="card-footer-text">{{ gym.category }}</span>
          </p>
        </footer>
      </article>

    </div>
  
  </div>
</center>
{% else %}

<h1>Become Our Partner</h1>

{% endif %}
{% endblock section1 %}
