{% extends 'accounts/index.html' %}
{% load static %}
{% block qr_head %}
<link rel="stylesheet" href="{% static 'css/membership_card.css' %}">
{% endblock qr_head %}
{% block section1 %}

{% if gym %}
    

    
<center>
<div id="wrapper">
    <h2 class="card-group-heading">{{ gym}}</h2>
    <div class="card-container">
    <article class="card assignment-card course-id-3" style="height:400%;">
        <header class="card-header card-backgrund-color">
          <h2 style="color: black; font-weight: bold;">GYM-FREAK</h2>
        </header>
        <section class="card-body" style="height:40%;">
          <div class="card-info">
            <div class="card-info-element">
              <div class="card-info-description">Name</div>
              <div class="card-info-value">{{ gym.name }}</div>
            </div>
            <div class="card-info-element">
              <div class="card-info-description">Address</div>
              <div class="card-info-value" style="font-size: x-small;">{{ gym.address }} {%if gym.services %}
            <p class="card-tags">
              {% for ser in gym.services.values %}
            <div class="card-info-description">{{ser.service}}</div>
          </p>
            {% endfor %}
            {% endif %}</div>
            </div>
            <div class="card-info-element">
              <div class="card-info-description">QR</div>
                <div class="card-info-value"><u><a href="{{gym.qrcode.url}}">Click to open Code</a></u></div>
            </div>
          </div>



            </section>
    </article>


<!--        <footer class="card-footer">-->
<!--          <p><span class="ml-checkmark card-footer-icon card-backgrund-color"></span> <span class="card-footer-text">{{ gym.category }}</span>-->
<!--          </p>-->
<!--        </footer>-->


    </div>
  
  </div>
</center>
{% else %}

<h1>Become Our Partner</h1>

{% endif %}
{% endblock section1 %}
