
<div id='id_gymcard' class="item">
              	<div class="package-membership ftco-animate">
		        			<a href="#" class="img d-flex justify-content-center align-items-center" style="background-image: url('{{ gym.image.url }}');">
		        				<div class="text text-center d-flex align-items-end">
		        					<div class="desc">
				        				<h3>{{ gym.name }}</h3>
				        				<p>{{ gym.address }}</p>
										<p>{{ gym.city }}</p>
			        				</div>
			        			</div>
		        			</a>
		        		</div>
              </div>